* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-template-rows: 1fr auto;
  height: 100vh;
  overflow: hidden;
  background: hsl(70, 8%, 10%);
}

#editorsSlide {
  display: flex;
  width: 300%;
  height: calc(100% - 67px);
  transition: transform 0.2s ease-out;
}

#editor,
#editorTranslate {
  position: relative;
  width: 33.33%;
}

#tabs {
  background: hsl(70, 8%, 14%);
  display: flex;
  padding-bottom: 5px;
}

#tabs > button {
  appearance: none;
  outline: none;
  border: none;
  padding: 9px 15px;
  color: #fff;
  background: rgba(0, 0, 0, 0.05);
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid transparent;
  transition: border-color 0.2s ease-in-out;
}

#tabs > button:first-child {
  border-color: #2196f3;
}

#tabs > button > svg {
  height: 18px;
  margin-right: 5px;
}

#toolbar {
  grid-column: 1/1;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: hsl(70, 8%, 13%);
  padding-top: 10px;
  position: relative;
  z-index: 2;
}

#toolbar button,
#toolbar label {
  appearance: none;
  outline: none;
  border: none;
  cursor: pointer;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  border-radius: 10px;
  background: transparent;
  color: #fff;
  transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#toolbar button:hover,
#toolbar label:hover {
  transform: scale(1.1);
}

#toolbar button:first-child,
#toolbar label:first-child {
  background: #2196f3;
}

#consoleContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#consoleContainer #consoleTitle {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  color: rgba(255, 255, 255, 0.8);
  z-index: 2;
  padding: 12px;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
  background: hsl(70, 8%, 10%);
}

#collapseBtn {
  position: absolute;
  top: 0;
  right: 0;
  appearance: none;
  outline: none;
  border: none;
  color: rgba(255, 255, 255, 0.8);
  padding: 12px;
  background: transparent;
  cursor: pointer;
  z-index: 3;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#consoleContainer #consoleTitle svg {
  margin-right: 5px;
}

#console {
  height: 40vh;
  padding: 54px 12px 12px 12px;
  resize: none;
  outline: none;
  border: none;
  white-space: pre-wrap;
  background: hsl(70, 8%, 10%);
  color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
  font-size: 18px;
  font-family: monospace;
  overflow-y: auto;
  transition: height 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#chevron {
  transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#editorContainer {
  position: relative;
}

#codeInfo {
  position: relative;
  bottom: 0;
  right: 0;
  font-family: 'Montserrat', sans-serif;
  color: rgba(255, 255, 255, 0.8);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: hsl(70, 8%, 13%);
  padding: 5px;
  font-size: 0.75em;
}

#codeInfo span {
  margin-left: 10px;
}

.clsLog {
  color: rgba(255, 255, 255, 0.8);
}

.clsWarn {
  color: rgba(255, 208, 0, 0.658);
}

.clsError {
  color: rgba(238, 80, 52, 0.8);
}

#reportsContainer {
  width: 33.33%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  max-height: calc(100vh - 112px);
  overflow: hidden;
}

#ast {
  grid-column: 1/1;
  grid-row: 1/3;
  background: rgba(255, 255, 255, 0.2);
}

.symbolTable {
  padding: 20px;
  overflow: hidden;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  row-gap: 20px;
}

.symbolTable:first-child {
  grid-row: 1/2;
}

.symbolTable:last-child {
  grid-row: 2/3;
}

.symbolTable > div {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.8);
}

.symbolTable > div > svg {
  margin-right: 15px;
  margin-left: 5px;
  transform: scale(1.3);
}

.symbolTable > .list {
  border: 2px solid#2196f3;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.symbolTable > .list > div:first-child,
#tokensList > div,
#errorsList > div {
  font-family: 'Montserrat', sans-serif;
  display: grid;
  align-items: center;
  grid-template-columns: 170px 1fr 70px 70px;
  color: rgba(255, 255, 255, 0.8);
  padding: 10px 20px;
  width: 100%;
  column-gap: 20px;
}

.symbolTable > .list > div:first-child {
  background: rgba(0, 0, 0, 0.3);
  font-weight: bold;
}

.symbolTable > .list > div > span {
  text-align: left;
  display: block;
  border-right: 1px solid rgba(255, 255, 255, 0.8);
}

.symbolTable > .list > div > span:last-child {
  border-right: none;
}

#tokensList {
  overflow-y: auto;
  width: 100%;
}

#errorsList {
  overflow-y: auto;
  width: 100%;
}

#tokensList > div > span,
#errorsList > div > span {
  text-align: left;
  display: block;
  padding-right: 20px;
  border-right: 1px solid rgba(255, 255, 255, 0.8);
}

#tokensList > div > span:last-child,
#errorsList > div > span:last-child {
  border-right: none;
}

#tokensList > div:nth-child(odd),
#errorsList > div:nth-child(odd) {
  background: rgba(255, 255, 255, 0.1);
}
